*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu section sidebar"
        "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;  
}

.item-header {
    grid-area: header;
    background-color: #adff2f;
    color: black;
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}

.item-menu {
    grid-area: menu;
    background-color: #808080;
    color: white;
    padding: 15px;
}

.item-section {
    grid-area: section;
    background-color: #add8e6;
    color: black;
    padding: 15px;
    text-align: center;
}

.item-sidebar {
    grid-area: sidebar;
    background-color: #808080;
    color: white;
    padding: 15px;
}

.item-footer {
    grid-area: footer;
    background-color: #000000;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 50px 1fr 50px 70px;
        grid-template-areas: 
        "header"
        "menu"
        "section"
        "sidebar"
        "footer";
        gap: 10px;
        height: 100vh;    
    }
}
